body {
  background-color: #2B2D42;
}
.header-navigation{
  position:fixed;
  width:99%;
  top: 0;
  z-index: 100;
  display: block;
}
.navigation{
  padding:5px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 0px;
  border-left:0px;
  border-right:0px;
  border-bottom: 2px;
  border-radius: 7px;
  border-color: #92DCE5;
  border-style: solid;
  background-color: #2B2D42;

}
.navigation-link {
  padding-left: 7px;
  margin-left: 10px;
  font-size: large;
  font-weight: 600;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#2B2D42;
  border: 2px;
  border-radius: 7px;
  border-color: #92DCE5;
  border-style: solid;
  padding:5px;
  background-color: #92DCE5;
  text-decoration: none;


}
main{
  display: block;
  max-width:50%;
  margin: 0 auto;

}
.main-page {
  color: #92DCE5;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
  color: #92DCE5;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 70px;
  margin: auto;
}
h2 {
  color: #753e70;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.introduction {
  color: #2B2D42;
  font-weight: 600;
  font-family:Georgia, 'Times New Roman', Times, serif;
  display:block;
  width:300px;
  position:absolute;
  right: 130px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5 ;

  
}
.links-link{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: #2B2D42;

}

.links{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: #92DCE5;
  display: block;
  width:300px;
  position: absolute;
  right:130px;
  top:450px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5 ;
}

.notes__text {
  color: #F8F7F9;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.picture{
  border: 15px solid #92DCE5;
  border-radius: 50%;
  width:450px;
  margin-left: 55px;
  margin: 30px;
}

.footer{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
  display: block;
  position:relative;
  bottom:1px;
  width:400px;
}

.footer-link{
  text-decoration:none;
  color:black;
}

.HTML{
  color:#92DCE5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.notes__text{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5 ;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.tags{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.to-remember{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.CSS{
  color:#92DCE5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.JS{
  color:#92DCE5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.git{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.atributes{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.unit-of{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.positions{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-sizing{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.notes-JavaScript{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.variable{
  margin-top:20px;
  padding: 10px;
  border:7px solid #92DCE5;
  border-radius: 30px;
  background-color:#92DCE5;
  width:550px;
  color: #2B2D42;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

