body{
    background-color: #FFD9CE;
}
.siteName{
    color:#604D53;
}
h2{
    color:#9B5094;
}

.introduction{
    color: #604D53;
}
.notes{
    color:#9B5094;
}
.notesSecondWeek{
    color:#604D53;

}
.notesThirdWeek{
    color:#604D53;
}
